.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid grey;
  border-top: 2px solid grey;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}